doctype html
html(class="no-js", lang="ru")

    include ../modules/head/head

    include ../modules/guerrilla-marketing/guerrilla-marketing
    include ../modules/internet/internet
    include ../modules/viral-marketing/viral-marketing
    include ../modules/promotions/promotions
    include ../modules/event-marketing/event-marketing
    include ../modules/tv-radio/tv-radio
    include ../modules/trade-marketing/trade-marketing
    include ../modules/corporate/corporate
    include ../modules/polygraphy/polygraphy
    include ../modules/outdoor-advertising/outdoor-advertising

    head
      +head(head.defaults)
    body
      .wrapper
        +guerrilla-marketing
        +internet
        +viral-marketing
        +promotions
        +event-marketing
        +tv-radio
        +trade-marketing
        +corporate
        +polygraphy
        +outdoor-advertising

        img(src="%=static=%images/general/bg.jpg" width="1280" height="974").bg