mixin trade-marketing
  a(href="#")
    .trade-marketing
      .trade-marketing__full
      - for (var i = 1; i < 3; i++)
        .icon(class="trade-marketing__icon-#{i}")
      .title Трейд маркетинг