// Common styles of the project

html,
body {
  overflow-x: hidden;

  height: 100%;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -10px;

  margin: auto;
}

.wrapper {
  position: absolute;
  right: 0;
  left: 0;

  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.icon {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  background-repeat: no-repeat;
}

.title {
  margin-top: 10px;

  text-align: center;
  letter-spacing: .05em;

  color: #fff;

  font-family: "BebasNeueBold";
  font-size: 21px;
  line-height: 25px;
}
