mixin viral-marketing
  a(href="#")
    .viral-marketing
      .viral-marketing__full
      - for (var i = 1; i < 6; i++)
        .icon(class="viral-marketing__icon-#{i}")
      .title Вирусный маркетинг