mixin outdoor-advertising
  a(href="#")
    .outdoor-advertising
      .outdoor-advertising__full
      - for (var i = 1; i < 6; i++)
        .icon(class="outdoor-advertising__icon-#{i}")
      .title Наружная реклама