mixin event-marketing
  a(href="#")
    .event-marketing
      .event-marketing__full
      - for (var i = 1; i < 7; i++)
        .icon(class="event-marketing__icon-#{i}")
      .title Ивент маркетинг